<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Example</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS and Popper.js (if needed) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Kendo UI Stylesheets -->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.406/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.406/styles/kendo.default.min.css" />

    <!-- Kendo UI Scripts -->
    <script src="https://kendo.cdn.telerik.com/2022.1.406/js/kendo.all.min.js"></script>


    <style>

        .blue-hover:hover {
            background-color: #007bff;
            color: #fff !important;
        }
     


        #bikeTemplate
        {
           width:auto;
           height:auto;
        }

        .k-listview-content {
            display: flex;
            flex-wrap:wrap
        }

        .sidebar {
            position:sticky;
            height:900px;
            top:0;
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark text-white text-center">
        <div class="container-fluid">
                <span>BIKE RENTAL</span>
        </div>
        <div>
            <ul class="navbar-nav p-2">
                @if (ViewBag.Username == null)
                {
                    <li class="nav-item"><a class="nav-link active blue-hover" href="#">Home</a></li>
                    <li><a class="nav-link blue-hover" asp-action="Bikes">Bikes</a></li>
                    <li class="nav-item"><a class="nav-link blue-hover" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link blue-hover" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link blue-hover" asp-action="Login" asp-controller="User">Login</a></li>
                    <li class="nav-item"><a class="nav-link blue-hover" asp-action="SignUp" asp-controller="User">SignUp</a></li>
                }
                else
                {
                    <li><a class="nav-link active blue-hover" asp-action="Home" asp-asp-controller="User">Home</a></li>
                    <li><a class="nav-link blue-hover" href="#">Bikes</a></li>
                    <li><a class="nav-link blue-hover" href="#">My Booking</a></li>
                    <li><a asp-action="Logout" asp-controller="User"> Logout</a></li>
                    <li><a>Welcome @ViewBag.Username</a></li>
                }
            </ul>
        </div>
    </nav>
    

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.406/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.406/styles/kendo.default.min.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Kendo UI Scripts -->
    <script src="https://kendo.cdn.telerik.com/2022.1.406/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>

  @*   <div id="carouselExampleInterval" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 1200px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="width: 100%;" src="~/css/img/slide1.jpeg" class="d-block" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img style="width: 100%;" src="~/css/img/slide2.jpeg" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img style="width: 100%;" src="~/css/img/slide3.jpeg" class="d-block" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden text-black">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
 *@

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2024 RENTAL BIKE SERVICE</p>
        </div>
    </footer>

    
    <script>

        $('#signupForm').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/User/SignUp',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        debugger;

                        $('#signupForm')[0].reset();

                        $('#signupModal').modal('hide');

                        $('#loginModal').modal('show');
                    } else {

                        console.error('Signup was not successful:', data.message);
                        alert(data.message);
                    }
                },
                error: function (error) {

                    console.error('Error during signup:', error);
                    alert('An error occurred during signup. Please try again.');
                }
            });
        });

        //Login Page

        $('#LoginForm').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/User/Login',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        debugger;

                        $('#loginModal').modal('hide');

                        window.location.href = '/User/Home';
                    } else {

                        console.error('Login was not successful:', data.message);
                        alert(data.message);
                    }
                },
                error: function (error) {

                    console.error('Error during signup:', error);
                    alert('An error occurred during Login Please try again.');
                }
            });
        });

    </script>

</body>
</html>
