@model BikeViewModel

<!-- Side Navigation Bar (Full Height) -->
<div class="container-fluid">
    <div class="row flex-grow-1">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="d-flex flex-column">
                <h5 class="my-3 mx-2">CATEGORIES</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link blue-hover" href="@Url.Action("Bikes", "User", new { id = 0 })">All Categories</a>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link blue-hover" href="@Url.Action("Bikes", "User", new { id = category.Id })">@category.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

         <!-- Main Content Area (Full Height) -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container-fluid">
                <div class="row p-5">
                    <!-- Kendo UI ListView for Bike_Details -->
                    <div id="bikeListView"></div>
                    <script type="text/x-kendo-template" id="bikeTemplate">
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                
                                 <img src="data:image/*;base64,#:data.image#" alt="Bike Image" height="200px"></img>
                                <div class="card-body">
                                    <h5 class="card-title">#: data.name #</h5>
                                    <p class="card-text">#: data.description #</p>
                                    <p class="card-text"><strong>Charges:</strong> Rs. #: data.charges #/day</p>
                                   
                                </div>
                            </div>
                        </div>
                    </script>

                    <script>
                      
                        var bikeDetails = @Html.Raw(Json.Serialize(Model.Bikes));

                        
                        $("#bikeListView").kendoListView({
                            dataSource: {
                                data: bikeDetails,
                                pageSize: 15 
                            },
                            template: kendo.template($("#bikeTemplate").html())
                        });
                    </script>

                    

                </div>
            </div>
        </main>


    </div>
</div>

                         